div{
    background: red;
    width: 200px;
    margin: auto;
    text-align: center;
    /* Fondo rojo con una anchura de 200px, un margen auto para que se centre y el texto alineado en el centro que en este caso es Hola */
    border: 3px solid black; /*Donde ponemos el width,style y color del border en una misma linea en vez de poner las 3. Aunque border-radius va separada y sirve para redondear*/
    border-radius: 4px;
    p{
        margin: 0;
        padding: 0;
    }
}