* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --bg-color: #FF9464;
    --chat-bg-color: #fff;
    --dark-color: #f62;
    background-color: var(--bg-color);
}

body,div,ul,li,a,h1,h2,h3,h4, p {
    margin: 0;
    padding: 0;
}
