<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKwkKi0gHSc82BwOTGPQPaKW3PsPAL-f4SQg&s" alt="" class="header__img">
            <h1>ADA 13, TU IEDICIÓN 2024</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequuntur a quod laborum architecto aperiam quae modi, officia distinctio incidunt eveniet commodi officiis. Consectetur quasi, doloribus repellat ratione nemo neque?</p>
        </div>
    </header>
    <nav class="nav">
        <div>
            <ul class="nav__ul">
                <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link">About us</a></li>
                <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="" class="nav__link link--login">Log In</a></li>
            </ul>            
        </div>
        <div>
            <img src="https://images.seeklogo.com/logo-png/24/1/super-mario-logo-png_seeklogo-247880.png" alt="" class="nav__logo">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam harum iste tenetur. Consectetur illo dicta ipsum enim, exercitationem molestiae ab, voluptates eligendi doloremque, reprehenderit aliquam totam quos? Facere, molestias nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi non laboriosam dignissimos, consequatur in facilis obcaecati quod. Magni iure repellendus fugit vero, nesciunt officiis maxime consequuntur ut veritatis vel perspiciatis!
        Autem ut praesentium ratione porro soluta accusamus ex molestiae asperiores, aperiam nobis eligendi voluptate. Distinctio voluptatem, ratione similique natus exercitationem cum inventore rerum, aut possimus repudiandae, at ad iure! Quisquam.
        Veritatis, quis nesciunt ipsa amet corrupti maxime ullam, voluptatem qui distinctio repellat neque. Cumque est illum officia ex quos fugit saepe quam doloribus quis. Suscipit ipsa magnam enim quasi modi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit adipisci, officiis at dicta incidunt hic nihil quis rerum eligendi quibusdam laudantium est tempora facere tempore ipsam aut vel. Iure, dicta?
        Veritatis neque, cupiditate totam harum iure voluptas, blanditiis libero commodi nisi repudiandae itaque aperiam temporibus et incidunt dicta unde explicabo nulla ullam atque! Facilis quae est dicta dolorum, aspernatur natus!
        Sequi ea, totam temporibus possimus in quibusdam autem maiores dolore cum! Necessitatibus numquam error iusto minus quo repellat vel optio exercitationem veniam illum. Excepturi ad nemo qui optio laboriosam veniam.
        Voluptatem consectetur repellat dolorum, libero veniam quo architecto rem animi qui incidunt dolore aliquid iste laborum laboriosam dolor perspiciatis nihil hic doloribus culpa aspernatur inventore rerum at. Esse, consequuntur dicta.
        Reprehenderit aliquam doloremque quidem nam, necessitatibus labore quasi repellat laborum commodi rem, perspiciatis illum eius. Minima quos quisquam provident ab suscipit. Cupiditate, quasi excepturi. Modi alias eius perspiciatis. Ipsam, officiis.
        Natus iure quis veniam facilis minima debitis voluptatum minus accusamus a aliquam. Accusantium quae velit dicta asperiores reprehenderit hic saepe a ex. Iure delectus deserunt mollitia aperiam illo accusantium aspernatur!
        Facilis quis soluta dolore. Ipsa ducimus, quos itaque ipsam magni amet at ab. Quod, et voluptates debitis minima reiciendis aspernatur molestiae consectetur amet assumenda at suscipit hic, tempora odio soluta?
        Repellat consequatur laudantium praesentium voluptas perspiciatis quos rem ipsa provident a atque error voluptatibus nobis corporis omnis impedit, in fugiat hic vitae dolor et laborum cupiditate quam accusamus eius. Praesentium.
        Architecto voluptate harum inventore. Veritatis nulla dicta consectetur numquam temporibus, laborum amet quasi vero doloremque at suscipit dignissimos ut delectus maiores assumenda dolores similique, nobis, tempora pariatur exercitationem vitae? Sunt.
        Veniam dolorum, placeat illo rem architecto labore nihil? Impedit libero cumque ex beatae, illo sunt distinctio repudiandae officia qui, similique id porro ipsa pariatur ab reiciendis earum. Sequi, sunt natus!
    </main>
</body>
</html>