<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKwkKi0gHSc82BwOTGPQPaKW3PsPAL-f4SQg&s" alt="" class="header__img">
            <h1>ADA 13, TU IEDICIÓN 2024</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequuntur a quod laborum architecto aperiam quae modi, officia distinctio incidunt eveniet commodi officiis. Consectetur quasi, doloribus repellat ratione nemo neque?</p>
        </div>
    </header>
    <nav class="nav">
        <div>
            <ul class="nav__ul">
                <li class="nav__item"><a href="" class="nav_link">link 1</a></li>
                <li class="nav__item"><a href="" class="nav_link">link 2</a></li>
                <li class="nav__item"><a href="" class="nav_link">link 3</a></li>
                <li class="nav__item"><a href="" class="nav_link">link 4</a></li>
            </ul>            
        </div>
        <div>
            <img src="https://images.seeklogo.com/logo-png/24/1/super-mario-logo-png_seeklogo-247880.png" alt="">
        </div>
    </nav>
</body>
</html>