p{
    color: red;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 13px;
    font-weight: bolder; /*Si ponemos Bold = 700, si ponemos bolder lo hace mas grueso un escalon mas (De lo maximo que se pueda de cada tipografia*/
}