p{
    color: red;
    /* Esto para despues de linear la fuente externa si pones el nombre ya lo tendrias */
    font-family: "Dalto";
    font-size: 13px;
    font-weight: 500; /*Si ponemos Bold = 700, si ponemos bolder lo hace mas grueso un escalon mas (De lo maximo que se pueda de cada tipografia*/
    font-style: oblique; /*Italic = Muy inclinada, Oblique = Medio inclinado y normal es normal*/ /*Hay una funcion de poner con un espacio despues de oblique o italic los grados que quieres ponerle al texto.*/
    text-align: justify; /*Alinea nuestro texto como a la izquierda (start = tambien se puede poner es lo mismo que izquierda), derecha (end =") ,centro y justify (para que el texto quede iguald e tamaño y se lea mejor como en Word)*/
    text-decoration:none; /*Decoración del texto: Underline(Subraya el texto),overline(subrayar por arriba en vez de abajo),line-through(Tacha el texto)*/
    line-height: 1.3; /*El tamaño entre lineas o distancia que hay entre linea a linea*/
    letter-spacing: 1px; /*Espaciado entre letras = Se utiliza o se puede utilizar en botones*/
    text-transform: capitalize; /*Uppercase para poner todo mayusculas, lowercase para poner todo minuscula, capitalize que pone la primera letra de cada palabra en mayuscula*/ 
}


span{
    text-decoration: line-through;
    color: brown;
}