body{
    margin: 0;
    background: #222;
    color: #eee;
}

h2{
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

input, textarea, select{
    width: 100%;
    box-sizing: border-box; 
    padding: 6px 12px;
    border: 1px solid #999;
    border-left: 2px solid #999;
    box-shadow:  0px 0px 15px #0001;
    background: transparent;
    border-radius: 4px;
    color: #eee;
}

option{
    background: #222; 
    /* El option no se le puede configurar, tamaño para eso se necessitaria una libreria pero si podemnos cambiar fondo / color. */
}

textarea{
    resize: vertical;
    /* Resize lo que nos permite es jugar con el text area */
    /* Both = que se pueda mover de forma vertical y horizontal */
    /* Vertical = que se pueda mover de forma vertical */
    /* None = que no se puede mover */
    min-width: 100%;
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;
    field-sizing: content; 
    /* Lo que hace field-sizing content que mientras vas escribiendo va bajando automaticamente el texto */
}

form{
    background: transparent;
    padding: 20px 0px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 4 0px;
}

.form_input{
    padding: 10px 20px;
}

label{
    font-size: 0.9em;
    line-height: 2;
    /* para poder modificar el margin o el padding, lo podemos hacer en la clase de¡l selector input o text area o con line-height  */
}

.checkbox{
    width: auto; 
    height: 10px;
}

fieldset{
    border-radius: 5px;
    border: 1px solid #666;
    padding: 8px 6px 20px 20px;
    margin: 20px;
}

legend{
    padding: 0px 6px;
    color: #777;
}