body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div{
    box-sizing: border-box;
}

.crecedor{
    height: 200vh;
}

.container{
    scroll-timeline: --container block;
    /*
    scroll-timeline-axis: inline;
     inline = horizontal 
        block = vertical

    ESTA PROPIEDAD NO SE LE PUELDE ASIGNAR AL BODY
    */
    overflow-y: scroll;
    height: 100vh;
}


.box{
    background-color: #fff;
    padding: 6px;
    border: 4px solid #48e;
    border-radius: 39px;
    width: 100%;
    position: sticky;
    top: 0;
}

.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: --container;

    /* Funciona pq el scroll no es del body, si no del contenedor.Este es una de las formas, pero la mayoria de gente prefiere utilizarlo con el scroll q proviene de¡l root poniendo scroll() dentro de animation-timeline. */
}

.barra:active{
    animation-play-state: paused;
}

@keyframes llenar-barra{
    from{
        width: 0%;
    }
    to{
        width: 100%;
        background-color: red;
    }
}