.formulario{ /*Utilizamos el selector de classe para referernios a la etiqueta formulario y no a todas las etiquetas form*/
    background: red;
    padding: 10px; /*Asi escrito es una abreviación para poner padding por todos lados porque podriamos poner padding-top, padding-bottom y asi con todos.*/
    padding: 10px 0 4px 2px; /*En esta abreviación podemos poner primero el padding vertical y despues el horizontal (ajustar para todos lados)*/
    /* Como he dicho anteriormente para poner padding especificando para que lado queremos poner el relleno */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 40px;
    margin: 0 0 10px 0;
}

.formulario_input{
    padding: 9px 10px; /*El padding es un relleno que hay interior de un elemento como el espacio interior dentro de una cajita*/
    width: 90%;
    color: red;
    background: black;
    margin: 10px; /*Lo que podemos ver es que estamos poniendo un margen de 10px*/
}

.formulario_submit{
    letter-spacing: 2px; /*Poner un espacio entre letras de 2px*/
    text-transform: uppercase; /*Que se ponga en mayuscula*/
    background: red;
    color: #FFFFFF;
    width: 70%;
}

.box{
    background: red;
    height: 150px;
    width: 150px;
    margin: 10px;
}