/* [SELECTOR POR ATRIBUTO] */

/*
img[src="hola.jpg"]{
}
Estoy seleccionando a todas las imagenes que tengan el atributo src="hola.jpg" */

/*
img[src$="png"]{

}
Estamos seleccionando lo mismo que antes, pero el $ lo que hace es que puede empezar el atributo con algo pero acabara con png que es lo que hemos puesto en este caso.  Acaba con ($)*/

img[src^="hola"]{
    width: 100%;
}

/* Aqui en este caso con ^ p0uede empezar con hola pero puede acabar como quiera. Arranca con (^) 
----------------------------------------------------------------------------------------------------------
*/

/* [SELECCION DESCENDIENTE]

ul strong{
    color: red;
} 
*/
ul li{
    color: #666;
}

/* [SELECTOR POR HIJO DIRECTO] 

ul > strong{ Si ponemos > ahora solo si strong es hijo directo de ul se pondra rojo.
    color: red;
}*/

li > em{
    color: red;
}

/* Estamos dando color solo a los li que pertenecen dentro de una ul. Ahora si lo cambiamos al strong solo pondremos el strong que este dentro de una ul. Strong no es hijo directo de ul si no de li, el hijo directo de ul es li. 
-----------------------------------------------------------------------------------------------------------*/

/* [SELECTOR POR ADYACENTE] 

Quiero seleccionar el elemento que esta a continuación mia, no el que esta dentro ni por fuera sinó el proximo hermano.

*/

h1 + p{
    color: blue; /*Color Azul que se pone al parrafo*/
}

/* Porque estoy dando estilo al <p> que va despues de un h1, es decir esta clase solo funcionara si la etiqueta <p> va despues de un <h1>. (Solos e lo da al primer p que va despues de un h1)*/

/* h1 + p + p{
    color: blue; 
}  En este seleccionamos al segundo pq pq buscamos el <p> que va despues de un <h1> y de otro <p>.*/

/* [SELECTOR DE HERMANOS GENERALES 

Seleccionar el elemento que esta a continuación mia y no solo el primero si no todos los que haya.
*/

h1 ~ p {
    color: blue;
}

/* En comparación con el + este pone color azul todos los elementos que van despues de un h1 hay una p y no solo el primero. Sin importar que  venga en un segundo p,tercero ,etc. */
