body{
    background: #e41;
    margin: 0;
}

.box{
    width: 300px;
    height: 400px;
    background: linear-gradient( transparent, #0009);
    /* 1ยบ gradientes lineales */
    margin: auto; 
    margin-top: 20px;
    border-radius: 8px;
    border-top: 6px solid #900;
    /* Tambien esta el gradiente radil que pasa de oscuro a cualquier color o no color hacia al centro */
    /* El tecero es el conic-gradient que es como si haya una linea en el medio y sea de 90ยบ */
}

h1{
    margin: 0;
    text-align: center;
    color: #fff
}