body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div{
    box-sizing: border-box;
}

.crecedor{
    height: 100vh;
}

.box{
    height: 400px;
    background-color: #48e;
    padding: 20px;
    animation: llenar-barra both;
    animation-timeline: view();
    animation-range-start: cover 0%;
    /* Tambien tenemos exit-crossing = cuando toca la el tope de la pantalla.
    
      contain = la caja esta completamente contenida. Se hace la animacion cuando se ve completamente la caja.
    */
    animation-range-end: contain 70%;
        /* Lo q estamos haciendo que la animacion, que empiueze cuando en el viewport de la pantalla cubra un 20%. Para q no se vea raro como esta dentro de un div y normalmente estos tienen un 100% pues pondremos en animation: both para q empieze directamente chiquito y se vea bien */
}


@keyframes llenar-barra{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}